.icon {
    background-image: url('http://i.imgur.com/q33sDvR.png');
}

.icon-chat-manager ~ .text > .name,.icon-chat-manager ~ .from,.icon-chat-manager ~ span {
    color: #6093C6 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-manager + .name,#user-lists .user > .icon-chat-manager + .name,.message.from-manager > .from,.emote.from-manager > .from,.mention.from-manager > .from {
    color: #6093C6 !important;
}

#chat-messages:not(.is-none) .user > .icon-chat-cohost + .name,#user-lists .user > .icon-chat-cohost + .name,.message.from-cohost > .from,.emote.from-cohost > .from,.mention.from-cohost > .from {
    color: #6093C6 !important;
}

.icon-chat-cohost ~ .text > .name,.icon-chat-cohost ~ .from,.icon-chat-cohost ~ span {
    color: #6093C6 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-host + .name,#user-lists .user > .icon-chat-host + .name,.message.from-host > .from,.emote.from-host > .from,.mention.from-host > .from {
    color: #6093C6 !important;
}

.icon-chat-host ~ .text > .name,.icon-chat-host ~ .from,.icon-chat-host ~ span {
    color: #6093C6 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-bouncer + .name,#user-lists .user > .icon-chat-bouncer + .name,.message.from-bouncer > .from,.emote.from-bouncer > .from,.mention.from-bouncer > .from {
    color: #6093C6 !important;
}

.icon-chat-bouncer ~ .text > .name,.icon-chat-bouncer ~ .from,.icon-chat-bouncer ~ span {
    color: #6093C6 !important;
}

#user-panel:not(.is-none) .user > .icon-chat-dj + .name,#user-lists .user > .icon-chat-dj + .name,.message.from-residentdj > .from,.emote.from-residentdj > .from,.mention.from-residentdj > .from {
    color: #6093C6 !important;
}

.icon-chat-dj ~ .text > .name,.icon-chat-dj ~ .from,.icon-chat-dj ~ span {
    color: #6093C6 !important;
}

.bar-value {
    color: #2175d9;
}

.origem-menu-icon {
    background: url('http://i.imgur.com/x3SebJi.png');
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: 9px 9px;
    height: 100%;
    cursor: pointer;
}

#playlist-button {
    background: #202020;
}

.dark-label {
    color: #2175d9;
}

#room-host {
    color: #2175d9;
}

#now-playing-dj {
    color: #2175d9;
}

#dj-button.is-leave .left, #dj-button.is-quit .left {
    background: #202020;
}

/* private chat */

#pm-main {
    position: absolute;
    right: 350px;
    top: 55px;
    width: 450px;
}

#pm-content {
    position: relative;
    width: 450px;
    height: 400px;
    z-index: 16;
    background: #000000;
    border-radius: 10px;
}

#pm-users-container {
    top: 50px;
    width: 165px;
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 5px;
    background: #202020;
}

#pm-users-options .pm-remove-users,#pm-users-options #pm-status-change {
    display: inline-block;
}

#pm-users-options #pm-status-change {
    position: relative;
    top: -13px;
    left: 5px;
}

.pm-user-content {
    width: auto;
    height: 22px;
    background: #202020;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0px;
    cursor: pointer;
    color: #2175d9;
}

.pm-user-content.selected {
  border-radius: 0px;
  box-shadow: none;
  background: #202020 !important;
  border: 1px solid #2175d9;
}

.pm-user-content.new {
    background-color: #4b0000 !important;
}

.pm-user-content:nth-child(2n+1) {
    background: #202020;
}

#pm-msg-content {
    position: absolute;
    top: 50px;
    left: 175px;
    width: 270px;
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
}

#pm-msg-content a {
    color: #00A100;
}

div[class^="pm-from-"] {
    width: 245px;
    word-wrap: break-word;
    padding-left: 5px;
    margin-bottom: 2px;
    margin-right: 10px;
    background: #202020;
    border-radius: 0px 10px 10px 10px;
    color: #c0c0c0;
}

.pm-me {
    width: 240px;
    word-wrap: break-word;
    color: #fff;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 2px;
    margin-left: 0px;
    background: #202020;
    border-radius: 10px 10px 0px 10px;
}

.pm-me small {
    color: #aaa;
}

div[class^="pm-from-"] small {
    color: #aaa;
}

.pm-system {
    width: auto;
    word-wrap: break-word;
    background-color: #FF0000;
}

#pm-main input {
    border: none;
    padding: 3px;
    background: #202020;
    box-shadow: inset 0 0 0 1px hsl(0,0%,20%); 
    color: #aaa;
    border-radius: 7px;
}

#pm-input-field {
    top: 374px;
    left: 175px;
    width: 265px;
    position: absolute;
    color: #c0c0c0;
    border-radius: 7px;
    background: #202020;
}

#pm-input-user {
    top: 321px;
    position: relative;
    width: 157px;
    left: 5px;
    color: #c0c0c0;
    border-radius: 7px;
    background: #202020;
}

#pm-close {
    top: 0px;
    position: relative;
    right: 0px;
    float: right;
    z-index: 17;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    background: #202020;
    box-shadow: none;
    padding: 3px;
    border: 1px solid #2175d9;
}

#pm-close:hover {
    background: #2175d9;
    box-shadow: none;
    border: 1px solid #2175d9;
}

#pm-close.new {
    background: linear-gradient(hsl(30, 100%, 30%), hsl(30, 100%, 20%));
    box-shadow: 0 0 10px 1px hsl(30, 100%, 30%);
    border: 1px outset hsl(30, 100%, 30%);
}

#pm-close.new:hover {
    background: linear-gradient(hsl(30, 100%, 40%), hsl(30, 100%, 30%));
    box-shadow: 0 0 10px 1px hsl(30, 100%, 40%);
    border: 1px outset hsl(30, 100%, 40%);
}

#pm-user-search {
    width: 165px;
    height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: hsl(220, 10%, 10%) !important;
    position: absolute;
    left: 5px;
    top: 185px;
    border-radius: 5px;
}

#pm-user-search div:nth-child(2n+1) {
    background-color: hsl(220, 10%, 20%);
}

.user-search-found {
    cursor: pointer;
}

.pm-user-close {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

#pm-msg-options {
    position: absolute;
    left: 175px;
    top: 20px;
}

.pm-msg-username {
    width: 90px;
    background: #202020;
    box-shadow: none;
    border-radius: 0px;
    padding: 3px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pm-msg-usericon {
    background-image: url('https://i.imgur.com/RE1eerj.png');
    width: 30px;
    height: 30px;
}

.pm-msg-clear {
    top: 0px;
    position: absolute;
    left: 110px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('https://i.imgur.com/rZYMvnX.png');
}

.pm-user-remove {
    position: absolute;
    top: 0px;
    left: 150px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('https://i.imgur.com/eOiy9Ws.png');
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.pm-remove-users {
    position: relative;
    left: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('https://i.imgur.com/eOiy9Ws.png');
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.pm-user-mute {
    position: absolute;
    left: 187px;
    top: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.pm-user-mute.mute {
    background-image: url('https://i.imgur.com/gUnMXI9.png');
}

.pm-user-mute.unmute {
    background-image: url('https://i.imgur.com/T4LOVW4.png');
}

.pm-status-online,.pm-status-afk,.pm-status-busy,.pm-status-offline {
    display: inline-block;
    vertical-align: top;
    background-image: none !important;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 5px;
    margin-right: 2px;
}

.pm-status-online {
    background: radial-gradient(hsl(120, 100%, 50%), hsl(120, 100%, 40%)) !important;
    box-shadow: 0 0 10px hsl(120, 100%, 50%);
}

.pm-status-afk {
    background: radial-gradient(hsl(12, 100%, 50%), hsl(12, 100%, 40%)) !important;
    box-shadow: 0 0 10px hsl(12, 100%, 50%);
}

.pm-status-busy {
    background: radial-gradient(hsl(0, 80%, 50%), hsl(0, 80%, 40%)) !important;
    box-shadow: 0 0 10px hsl(0, 80%, 50%);
}

.pm-status-offline {
    background: radial-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 80%)) !important;
}

.nr {
    color: #2175d9;
    font-weight: bold;
    font-size: 9px;
    border-radius: 10px;
    margin-right: 3px;
    padding: 0 4px;
    background: #191919;
    box-shadow: none;
    position: relative;
    top: -3px;
}

.media-list .row.selected {
    background: rgba(33, 117, 217, 0.37);
}

.media-list .selected .actions {
    background: rgba(33, 117, 217, 0.37);
}

#playlist-menu .menu .row.selected {
    background: rgba(33, 117, 217, 0.37);
}

#playlist-menu .menu .row .count {
    color: white;
}

#chat .emote {
    color: #2175d9;
    background-color: rgba(0, 204, 234, 0.29) !important;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 30px rgba(99, 105, 99, 1);
    -moz-box-shadow: inset 0 0 30px rgba(99, 105, 99, 1);
    box-shadow: inset 0 0 30px rgba(99, 105, 99, 1);
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer-user .info .bar .progress {
    background: #045577;
    box-shadow: 0 0 15px #045577 !important
}

.tab-menu button.selected {
    background: #164E90;
}

#playlist-activate-button {
    background: rgba(124, 124, 124, 0.15);
}

#playlist-activate-button span {
    color: white;
}

#user-menu .item.selected {
    background: rgba(33, 117, 217, 0.37)
}

.experience .xp .bar .progress {
    background: #045577
}
