#room-name {
  color: #FF00F4;
}
#room-name .bar-value  {
  display: inline-block;
  /* top: -10px; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 10px; */
  border: none;
  font: normal 18px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  /*text-align: center;*/
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #FF00F4  , 0 0 70px #FF00F4  , 0 0 80px #FF00F4  , 0 0 100px #FF00F4 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
}
#woot i {
  background: url('http://i.imgur.com/5eU6OHQ.png'); 
}
#meh i {
  background: url('http://i.imgur.com/3uSXauE.png');
}
#grab i {
  background: url('http://i.imgur.com/9DCOayJ.png');
}
