.icon { 
    background-image: url('http://i.imgur.com/2mgf2fu.png'); 
}
.origem-menu-opener {
    width: 53px;
    height: 52px !important;
}
#meh, 
#grab {
    margin-left: -1px;
}
.origem-menu-icon {
    background: url('http://i.imgur.com/D0jXQdo.png');
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    height: 100%;
    cursor: pointer;
}
