.icon { background-image: url('https://i.imgur.com/vmEnSAZ.png'); } /* Só adicione ícones abaixo DESTE ! */
.icon-origeminfo { background: url('https://i.imgur.com/hAFKXly.png'); width: 30px; height: 30px; }

/* Itens relacionados ao passar o mouse por cima! */ 

 #user-lists .list .user:hover, .media-list .actions, #user-rollover .actions .action:hover  { background-color: rgba(18, 169, 224, 0.1) !important; 
background: linear-gradient(to right,rgba(18, 169, 224, 0.08) 0,rgba(6, 189, 255, 0.72) 100%) !important; }  
#user-rollover { background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0.75) 100%);
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.75) 0,rgba(0, 0, 0, 0.75) 100%); }
#user-rollover .info, #user-rollover .info .badge-box, #chat-messages .badge-box, .user-content.profile .meta .badge-box {background: none;}
.row:hover { text-decoration: none; background-color: rgba(18, 169, 224, 0.1) !important;
background: linear-gradient(to right,rgba(18, 169, 224, 0.08) 0,rgba(6, 189, 255, 0.72) 100%) !important;
-webkit-transition: 200ms linear 0s;
-moz-transition: 200ms linear 0s;
-o-transition: 200ms linear 0s;
transition: 300ms linear 0,1s;
outline: 0 none;
text-shadow: -1px 1px 8px #009cdd, 1px -1px 8px #009cdd;
}


  
/* Itens Relacionados ao chat, delays e cores do /me */

#chat .emote { border-left: rgba(174, 69, 189, 1) 3px solid !important; background-color: rgba(190, 28, 213, 0.22) 
!important; background: linear-gradient(to right,rgba(255, 118, 118, 0.05) 0,rgba(255, 0, 194, 0.27) 100%) !important; }
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),
#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) #chat .emote, #chat .mention,
#chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
background-color: rgba(17, 19, 23, 0.32); -webkit-animation:fadein 0.6s;  -moz-animation:fadein 0.6s;
-ms-animation:fadein 0.6s;  -o-animation:fadein 0.6s; animation:fadein 0.6s; }
    
/* Itens Relacionados ao Menu do ícone do plug! */

#app-menu {max-width: 400px    !important;}
#app-menu .list {max-width: 400px !important;}
#app-menu, #app-menu.open { -webkit-transition: 500ms ease; transition: 500ms ease; }
#app-menu .list { -webkit-transition: 500ms ease; transition: 500ms ease; opacity: 0; }
#app-menu.open .list { -webkit-transition: 500ms ease; transition: 500ms ease; opacity: 1; }
#app-menu, #app-menu .button { background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(0, 0, 0, 0) 100%) !important; }
#app-menu div { background-color: rgba(0, 0, 0, 0.8) !important; }
#app-menu.open > .button { background-color: rgba(0,0,0,0.85) !important; }
#app-menu {border-right-width: 0 !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#app-menu div { background-color: rgba(0, 0, 0, 0) !important; }
#app-menu.open { background-color: #282c35; }
#app-menu { left: -177px; max-width: 300px; background-color: rgba(69, 69, 69, 0.25); }
#app-menu .button i { left: 189px; }
#app-menu .item:hover  { background: #000 !important; box-shadow: 0 0 15px #fff !important; }
.dark-label {color: #fff;}

/* Itens relacionados a playlist! */

.media-list .row.now-playing, #playlist-button, .media-list .selected .actions, .media-list .row.selected, 
.media-list .row.now-playing .actions, #playlist-menu .menu .row.selected {  
background: linear-gradient(to bottom, #1C99D0 0px, #0E3D56 100%)!important; }
 .media-list.history .row.selected, .media-list.history .selected .actions {  background:#005070 !important; 
box-shadow: 0 0 10px #005070 !important; }
.media-list.history .score .grabs span {   color: #D87F0E; }
#playlist-create:hover { box-shadow: 0 0 10px #186696 !important; background: linear-gradient(to bottom, #1C92D0 0px, #0E3556 100%) !important; }
#playlist-import:hover { box-shadow: 0 0 10px #6E186D !important; background: linear-gradient(to bottom, #A91CD0 0px, #4F0E56 100%)!important; }
#playlist-edit-button { background: linear-gradient(to bottom, #2F5286 0px, #091036 100%); } 
#playlist-edit-button:hover { background: linear-gradient(to bottom, #5290EC 0px, #142580 100%); } 
#playlist-shuffle-button { background: linear-gradient(to bottom, #473861 0px, #140A27 100%); } 
#playlist-shuffle-button:hover { background: linear-gradient(to bottom, #7F63B3 0px, #321A5E 100%); } 
#playlist-delete-button { background: linear-gradient(to top, #571515 0px, #442609 100%); } 
#playlist-activate-button span, #playlist-menu .menu .row .count, .media-list.history .meta .timestamp { color: #FFFFFF; }
#playlist-menu .title { color: #1290BF; }
#playlist-delete-button:hover { background: linear-gradient(to bottom,rgba(68, 68, 68, 0.6) 0,rgba(226, 37, 0, 0.73) 100%);
box-shadow:  0 0 10px rgba(158, 30, 11, 1)     !important; }
#playlist-shuffle-button:hover { background: linear-gradient(to bottom,rgba(119, 48, 146, 1) 0, rgba(180, 71, 216, 0.73) 100%) !important; box-shadow: 0 0 10px #C41EC3 !important; }
 #playlist-panel, #history-panel  { background : black-transparent; opacity: 0.9;  text-shadow: 1px -1px #000; }
 #playlist-menu {    background: none;  } 
#playlist-activate-button {background: linear-gradient(to bottom, #1C99D0 0px, #0E3D56 100%)!important; border-radius: 20px 0px 0px 20px !important; }
#search { background: #000 !important;  }


/* Itens relacionados ao Menu de comunidades! */

#dashboard .icon-grab {  background: url('https://i.imgur.com/RUr7mar.png');  }
#room-bar .favorite .icon-grab {  background: url('https://i.imgur.com/RUr7mar.png');  }
#dashboard .search { border-radius: 20px; background:  #282c35; }
#dashboard { background-color: rgba(0, 0, 0, 0.89) !important;  }
.communities .grid .cell  {border-radius: 30px; }
.tab-menu button.selected { background: #12A9E0 !important; box-shadow: 0 0 15px #12A9E0 !important; border-radius: 30px; }

 /* Itens relacionados aos círculos de status! */

.available  .thumb.medium, .available  .thumb.large { border: 2px solid #599d24; box-shadow: 0 0 10px 5px #599d24; }
#user-rollover .meta.available .status i { border: 2px solid #599d24; box-shadow: 0 0 10px 5px #599d24; }
.available  .thumb.small { border: 2px solid #599d24; }
#footer-user .menu.status .item.available i { border: 2px solid #599d24; box-shadow: 0 0 10px 5px #599d24; }
#user-rollover .meta.available .status span { color: #599d24; }
#user-rollover .meta.available { background: linear-gradient(to bottom,rgba(76, 122, 50, 0.7) 0,rgba(28, 31, 37, 1) 100%); opacity: .85; } 
.gaming .thumb.medium, .gaming .thumb.large  { border: 2px solid #0088cb; box-shadow: 0 0 10px 5px #0088cb; }
.gaming .thumb.small  { border: 2px solid #0088cb; }
#user-rollover .meta.gaming .status i { border: 2px solid #0088cb; box-shadow: 0 0 10px 5px #0088cb; }
#user-rollover .meta.gaming .status span { color: #0088cb; }
#footer-user .menu.status .item.gaming i { border: 2px solid #0088cb; box-shadow: 0 0 10px 5px #0088cb; }
#user-rollover .meta.gaming { background: linear-gradient(to bottom,rgba(0,0,128, 0.4) 0,rgba(28, 31, 37, 1) 100%); opacity: .85;   } 
.working .thumb.large, .working .thumb.medium { border: 2px solid #e52d2d; box-shadow: 0 0 10px 5px #e52d2d; }
.working .thumb.small { border: 2px solid #ff3232; }
#user-rollover .meta.working .status i { border: 2px solid #e52d2d; box-shadow: 0 0 10px 5px #e52d2d; }
#user-rollover .meta.working .status span { color: #e52d2d; }
#footer-user .menu.status .item.working i { border: 2px solid #ff3232; box-shadow: 0 0 10px 5px #ff3232; }
#user-rollover .meta.working { background: linear-gradient(to bottom,rgba(132, 41, 25, 0.7) 0,rgba(28, 31, 37, 1) 100%); opacity: .85; }
.away .thumb.large, .away .thumb.medium { border: 2px solid #b29600; box-shadow: 0 0 10px 5px #b29600; }
.away .thumb.small { border: 2px solid #b29600; }
.thumb .background {background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(0, 0, 0, 0.75) 100%) !important;  border-radius: 30px; }
#user-rollover .meta.away .status i { border: 2px solid #b29600; box-shadow: 0 0 10px 5px #b29600; }
#footer-user .menu.status .item.away i { border: 2px solid #b29600; box-shadow: 0 0 10px 5px #b29600; }
#user-rollover .meta.away { background: linear-gradient(to bottom,rgba(109, 92, 40, 0.5) 0,rgba(28, 31, 37, 1) 100%);  opacity: .85;}
#footer-user .menu {background-color: rgba(0,0,0,0.85) !important; }
 #user-rollover .meta .joined {color: #eee;}
/* Itens Relacionados ao mouse sobre o vídeo atual ! */

#playback-controls .button.snooze { background: linear-gradient(to bottom,rgba(68, 68, 68, 0) 0,rgba(180, 71, 216, 0.73) 100%) !important;
box-shadow: 0 0 10px #C41EC3 !important; }
#playback-controls .button.refresh { background: linear-gradient(to bottom,rgba(68, 68, 68, 0) 0,rgba(0, 181, 230, 1) 100%);
box-shadow: 0 0 15px #12A9E0 !important; }
#playback-controls .button.hd { background: linear-gradient(to bottom,rgba(68, 68, 68, 0.6) 0,rgba(226, 37, 0, 0.73) 100%);
box-shadow: 0 0 10px rgba(158, 30, 11, 1) !important; }



#your-active-playlist > .icon-check-purple{ background: url('https://i.imgur.com/lyAmsZm.png'); top: 15px; }
#user-menu .item > .icon-history-white { background: url('https://i.imgur.com/EdPgEwe.png') !important; top: 12px; }
#footer-user .item > .icon-history-white { background: url('https://i.imgur.com/EdPgEwe.png') !important; top: 12px; }

/* Evento do ícone do meh! */
#user-lists .list { -webkit-animation:fadein 0.5s; -ms-animation:fadein 0.5s; animation:fadein 0.5; }
#user-lists .list.room .user .icon-meh{ left:auto; right:8px; top:-1px }

/* Itens relacionados ao menu do seu  perfil! */

.user-content.profile .notifications .row, .dropdown dd .row:hover, #user-menu .item.selected { background: #12A9E0 !important;
box-shadow: 0 0 15px #12A9E0, !important;}
.user-content.profile .notifications .row .timestamp { color: #eee; }
#user-menu { background: rgba(28, 31, 37, 0.26) !important; }
.dropdown dt { border-radius: 30px; background: #12A9E0 !important; box-shadow: 0 0 15px #12A9E0 !important; } 
.dropdown, #user-settings .tab-menu button:first-child { border-radius: 50px; } 
.user-content .header span, .user-content.profile .meta .badge span, .user-content.profile .meta .joined { color: #eee;} 
#user-friends .list .row { border-radius: 300px; }
.user-content.profile .meta .link .url a, .user-content.profile .meta .link .url a:visited { color: #12A9E0 !important;}
.user-content.profile .points .label { color: #12A9E0; }
.dropdown dd .row { background: rgba(0,0,0,0.5) !important; }
#user-menu .item .label { top: 5px !important; } 
.experience .xp .next-level, .app-right .friends .list .row .room { color: #FFFFFF !important; }

/* Barra de EXP */
.experience .xp .bar .progress {
border-radius: 10px 0px 10px 0px !important; background: #12A9E0; box-shadow: 0 0 10px 5px #12A9E0; }
#footer-user .bar .progress { border-radius: 10px 0px 10px 0px !important; background: #12A9E0; box-shadow: 0 0 15px #12A9E0 !important; }
.experience .xp .bar, #footer-user .meta div.bar { border-radius: 10px 0px 10px 0px !important; }
#footer-user .meta div.bar { border-radius: 10px 0px 10px 0px !important; }

/* Room Info / Opções no menu da sala e botões! */

#room-info { opacity:  .90; }
#room-info .button.disabled { background: linear-gradient(to bottom, #F46B40 0px, #6C3C14 100%)!important;
box-shadow: 0 0 10px rgba(249, 107, 5, 1) !important;}
#room-info .button.enabled { background: linear-gradient(to bottom, #1C99D0 0px, #0E3D56 100%)!important;
box-shadow: 0 0 15px #12A9E0 !important; }
.app-header, .in-room, #room-info .edit { background: linear-gradient(to bottom,rgba(255, 255, 255, 0.05) 0,rgba(0, 0, 0, 0.75) 100%) !important; }
#room-info .lock-toggle, #room-info .cycle-toggle { background: linear-gradient(to top,rgba(77, 77, 77, 1) 0,rgba(15, 15, 30, 1) 100%); }

/* Botões e menus de diálogo ! */


.dialog-frame .button { background: rgba(24, 24, 24, 0.44); }
.dialog-frame .button.cancel { background: linear-gradient(to top,rgba(77, 77, 77, 1) 0,rgba(15, 15, 30, 1) 100%) !important;
color: #808691;  box-shadow: 0 0 10px #313131 !important; }
.dialog.destructive .button.submit {
color: #eee;
background: #f46b40;
background: -moz-linear-gradient(top,#f46b40 0,#f04f30 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f46b40),color-stop(100%,#f04f30));
background: -webkit-linear-gradient(top,#f46b40 0,#f04f30 100%);
background: -o-linear-gradient(top,#f46b40 0,#f04f30 100%);
background: -ms-linear-gradient(top,#f46b40 0,#f04f30 100%);
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3) 0,rgba(255, 0, 0, 0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46b40', endColorstr='#f04f30', GradientType=0);
box-shadow: 0 0 10px rgba(158, 30, 11, 1) !important; }
.dialog-frame .button.cancel { color: #FFFFFF;
background: linear-gradient(to top,rgba(77, 77, 77, 1) 0,rgba(15, 15, 30, 1) 100%) !important; 
box-shadow: 0 0 10px #313131 !important; }
#info_dialog,  .dialog-body, #dialog-user-role .role-menu, .dialog-frame .title,.dialog-frame .title, .dialog-body 
{  background: rgba(0,0,0,0.5) !important; } 
.dialog { background: linear-gradient(to right,rgba(0, 0, 0, 0.6) 0,rgba(0, 0, 0, 0.76) 100%) !important; }

#dialog-user-role .role-menu .menu li:hover {background: rgba(0, 0, 0, 0.89); box-shadow: inset 0 0px 50px #777777; }
#dialog-user-role .role-menu .menu li { background : #000; } 

.dialog.choice li:hover, .dialog.choice li.selected  { background: rgba(0, 0, 0, 0.89); box-shadow: inset 0 0px 50px #777777; }
#dialog-ban-user .duration .toggle.selected, #dialog-mute-user .duration .toggle.selected 
{ background: rgba(0, 0, 0, 0.89); box-shadow: inset 0 0px 50px #777777; }
#dialog-preview .dialog-body .message {background: 000;}

/* Menu ao clicar no seu nome ! */

#footer-user .menu .item:hover { background: #000 !important; box-shadow: 0 0 15px #fff !important;}
#footer-user .menu .item:first-child:hover { background: #000 !important; box-shadow: 0 0 15px #fff !important;}
#footer-user.open-status .image, #footer-user.open-user .info{ background: rgba(0,0,0,0) !important; }
#footer-user .back { background: linear-gradient(to top,rgba(77, 77, 77, 1) 0,rgba(15, 15, 30, 1) 100%) !important; }
#footer { background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%) !important; }

/* Botões no menu superior que faltavam adicionar transparência ! */

#history-button, #history-button .selected, .header-panel-button, #friends-button, #user-lists .list.staff .group 
{ background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(0, 0, 0, 0) 100%) !important; }
#room .app-right { background: linear-gradient(to right,rgba(0, 0, 0, 0.6) 0,rgba(0, 0, 0, 0.76) 100%) !important; }
#waitlist .list .user, .app-right .friends, .app-right .friends.has-requests .header, #chat-header
{ background: rgba(10, 10, 10, 0) !important; }
.header-panel-button.selected, #friends-button.selected  { opacity: .25; border-right: #0a0a0a 1px solid; } 
#user-view { background: linear-gradient(to right,rgba(0, 0, 0, 0.98) 0,rgba(0, 0, 0, 0.85) 100%) !important; }
#user-friends .list .row { background: linear-gradient(to right,rgba(0, 0, 0, 0.17) 0,rgba(255, 255, 255, 0.09) 100%) !important; }

/* Efeitos de sombras nos botões esquerdos de DJ */

#dj-button  { background: linear-gradient(to bottom,rgba(0, 0, 0, 0.37) 0,rgba(0, 0, 0, 0.44) 100%);  }
#dj-button.is-locked .left, #dj-button.is-full .left { 
    background: linear-gradient(to top,rgba(77, 77, 77, 1) 0,rgba(15, 15, 30, 1) 100%) !important;
border-radius: 8px; border-left-width: 4px; }
#dj-button.is-quit .left, #dj-button.is-leave .left, #playlist-delete-button:hover { background: linear-gradient(to bottom,#F45B40 0,#892B18 100%) !important; }
#dj-button.is-wait, #dj-button.is-wait .left  {  box-shadow: 0 0 10px #12A9E0 !important;  }
#dj-button.is-leave {  box-shadow: 0 0 10px rgba(158, 30, 11, 1) !important; }
#dj-button.is-locked .left, #dj-button.is-full .left {  box-shadow: #000 !important;  }
/* Avatares */
#user-inventory .avatars .grid .cell, { border-radius: 3000px; 
background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%)  !important; }
#user-inventory .avatars .grid .cell:hover>.top, #user-avatars .my-avatars .grid .cell.selected .top {
background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%) !important; }
#user-menu .avatar { background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%); }
#user-menu .icon .icon-locked-grey{ float: right; }
#user-inventory .avatars .grid .cell, #user-inventory .badges .grid .cell, { border-radius: 100px; }
.user-content .grid .cell:hover>.top {background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%);}
#user-inventory .avatars .grid .cell.selected .top {background: linear-gradient(to bottom,#12A9E0 0,#0D607E 56%,#000 73%,#39393A 100%);}


/* Sombra das caixas de dialogo e bordas redondas ! */

 #chat-input, .dialog-input-background, .input-background, #room-info .input-background, #input-room-name , 
 #user-friends .list .row .buttons button, #user-avatars .tab-menu button, #user-friends .search, 
#import-youtube .youtube-input, #search-bar , #filter-bar,#import-youtube .button,#playlist-import-panel .button, 
#user-friends .list .row .buttons button, #user-friends .tab-menu button, .tab-menu button,
.user-content.profile .meta .blurb input, .user-content.profile .meta .blurb .box, #user-lists .list-header .input-background,
.app-right .friends .list-header .input-background { border-radius: 30px;   background: #282c35; } 

/* Woot / Meh / Grab /  desativados! */

#vote .crowd-response.disabled .bottom, #vote .crowd-response.disabled, #vote .crowd-response
 { background: #222224; }
#meh.crowd-response.disabled.active .bottom {
background: linear-gradient(to bottom,rgba(102, 102, 102, 0) 0,rgba(255, 0, 0, 1) 100%); }
#grab.crowd-response.disabled.active .bottom {
background: linear-gradient(to bottom,rgba(102, 102, 102, 0) 0,rgb(212,175,55) 100%); }
#woot .bottom, #woot.selected {
background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0px, #00C700 100%); }
#woot.crowd-response.disabled.active .bottom {
background: linear-gradient(to bottom,rgba(102, 102, 102, 0) 0,rgba(31, 255, 0, 0.75) 100%); }
#grab .bottom, #grab.selected {
background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0px, #eec81b 100%); }
#meh .bottom, #meh.selected {
background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0px, #F70000 100%); }
.pop-menu .bar { background: linear-gradient(to top,rgba(55, 54, 54, 1) 0,rgba(15, 15, 30, 1) 100%) !important; }
.pop-menu li:hover { background: #12A9E0 !important; box-shadow: 0 0 15px #12A9E0 !important; }
.pop-menu .bar { background: linear-gradient(to top,rgba(77, 77, 77, 0.6) 0,rgba(15, 15, 30, 1) 100%) !important; }

/* Scroll Bar nova e personalizada */

::-webkit-scrollbar { width: 13px !important; background: rgba(0, 0, 0, 0.72) !important; }
::-webkit-scrollbar-thumb { border-radius: 10px !important; -webkit-box-shadow: inset 0 0 10px rgba(0, 110, 255, 1) !important;
-moz-box-shadow: inset 0 0 10px rgba(0, 110, 255, 1) !important; box-shadow: inset 0 0 10px rgba(0, 110, 255, 1) !important; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
-moz-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important; box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
border-radius: 10px !important; }


/* Aleatoridades e frescuras novas */

.focused{
  -moz-box-shadow: inset 0 0 0 0.2em #12A9E0 !important;
  -webkit-box-shadow: inset 0 0 0 0.2em #12A9E0 !important;
  box-shadow: inset 0 0 0 0.1em #12A9E0 !important;
}

#volume .slider .line, #user-settings .container .cap .slider .bar  
{ top: 8px; height: 5px; background: #12A9E0; display: block; overflow: hidden; cursor: pointer; }

#room-name { overflow: visible; }
#room-name  span:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #12A9E0 , 0 0 70px #12A9E0 , 0 0 80px #12A9E0 , 0 0 100px #12A9E0 ;
}

#origem-info:hover { text-shadow: 1px 1px 30px rgba(17, 239, 255, 1); }
a:-webkit-any-link { color: -webkit-link; text-decoration: none; cursor: auto; }

#chat .text a:hover, a:focus {
text-decoration: none;
color: #00DDDD;
-webkit-transition: 200ms linear 0s;
-moz-transition: 200ms linear 0s;
-o-transition: 200ms linear 0s;
transition: 200ms linear 0s;
outline: 0 none;
text-shadow: -1px 1px 8px #0199DA, 1px -1px 8px #0199DA;
}

#chat-messages .icon-meh, #chat-messages .icon-clock-orange, #chat-messages .icon-origem-active { top: 3px !important; left: 20px !important; }
#user-inventory .avatars .grid .cell, #user-inventory .badges .grid .cell, .user-content .grid .cell { border-radius: 30px; }
.user-content.communities .grid .cell  {border-radius: 30px; }
.user-content.communities .grid .cell  {border-radius: 30px; }

/* ADICIONAR COISAS NOVAS ABAIXO */

.icon-join-waitlist-big
{ background: url(https://i.imgur.com/0SROO3v.gif); background-repeat: no-repeat; background-position: center; }
#woot i {background: url(https:\/\/i.imgur.com\/DWuyuU5.png); }
#meh i {background: url(https:\/\/i.imgur.com\/ys4dU6H.png); }
#grab i {background: url(https://i.imgur.com/8UlXdZE.png); }
#chat-messages .icon-grab { background: url(https://i.imgur.com/0b5VWQx.png); }

/* #ul-icon-grab{  position: relative; top: -6px;  left: -3px;
background: url(https://i.imgur.com/0b5VWQx.png) !important;}

/* Altere a cor */

#toast-notifications .notification {box-shadow: none !important;}
#toast-notifications .notification .left { border-radius: 20px 0px 0px 20px !important; box-shadow: 0 0 10px rgba(12, 53, 74, 1) !important; background: linear-gradient(to bottom, #115C7E 0, #0C3C4D 100%) !important; }
#toast-notifications .notification .right:hover, #toast-notifications .notification .right { background: linear-gradient(to bottom, rgba(14, 15, 15, 0.81) 0%, rgb(17, 90, 124) 50%, rgba(14, 15, 15, 0.75) 100%) !important; }
#tooltip span{background:#12A9E0}
#tooltip .corner{border-top: 10px solid #12A9E0; border-left: 10px solid #12A9E0;}
#tooltip.right .corner{border-top:10px solid #12A9E0;border-right:10px solid #12A9E0}
#history-button  {
	background: linear-gradient(to bottom, #961D88 0, #41073C 100%);
}
#history-button i.icon.icon-history-white  {
	-moz-transition-duration : 0.75s;
	-moz-transition-property : -moz-transform;
	-ms-transition-duration : 0.75s;
	-ms-transition-property : -ms-transform;
	-o-transition-duration : 0.75s;
	-o-transition-property : -o-transform;
	-webkit-transition-duration : 0.75s;
	-webkit-transition-property : -webkit-transform;
	overflow : hidden;
	transition-duration : 0.75s;
	transition-property : transform;
}
#history-button i.icon.icon-history-white:hover {
	-moz-transform : rotate(360deg);
	-ms-transform : rotate(360deg);
	-o-transform : rotate(360deg);
	-webkit-transform : rotate(360deg);
	transform : rotate(360deg);
}
.origem-menu-opener {
    background-color: transparent;
}
#origem-menu-close .icon {
	left: 8px;
	top: 10px;
}
.icon-room { background: url(https:\/\/i.imgur.com\/lKSWv3x.gif); }
