#pm-main {
	position: absolute;
	right: 350px;
	top: 55px;
	width: 450px;
}

#pm-content {
	position: relative;
	width: 450px;
	height: 400px;
	z-index: 16;
	background-color: #2F4F4F;
	border-radius: 15px;
}
#pm-users-container {
	top: 50px;
	width: 165px;
	height: 325px;
	overflow-y: auto;
	overflow-x:hidden;
	background-color: #212327 !important;
	position: absolute;
	left: 5px;
        border-radius: 10px;
}
.pm-user-content{
	width:auto;
	height:45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
        border-radius: 5px;
        cursor: pointer;
}

.pm-user-content.selected{
	background-color: #0F4f45 !important;
        border: 3px solid #556B2F;
        border-radius: 5px;
}
.pm-user-content.new{
	background-color: #FF5522 !important;
}
.pm-user-content:nth-child(2n+1){
	background-color: #515357;
}
#pm-msg-content {
	position: absolute;
	top: 50px;
	left: 175px;
	width: 270px;
	height: 325px;
	overflow-y:auto;
	overflow-x:hidden;
}
#pm-msg-content a{
	color: #009cdd;
}
div[class^="pm-from-"] {
	width: auto;
	word-wrap: break-word;
	color: #7FFFD4;
}
div[class^="pm-from-"] small {
	color: #56BD9A;
}
.pm-me {
	width: auto;
	word-wrap: break-word;
	color: #FFD700;
}
.pm-me small {
	color: #B0A64C;
}
.pm-system {
	width: auto;
	word-wrap: break-word;
	background-color: #FF0000;
}
#pm-input-field {
	top: 375px;
	left: 175px;
	width: 265px;
	position: absolute;
        border-radius: 10px;
}
#pm-input-user {
	top: 325px;
	position: relative;
	width: 163px;
	left: 5px;
        border-radius: 10px;
}
#pm-close {
	top: 0px;
	position: relative;
	right: 10px;
	float: right;
	z-index: 17;
	background-color: #0F0F0F;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
}
#pm-close.new {
	background-color: #FF5522 !important;
}
#pm-user-search {
	width: 150px;
	height: 190px;
	overflow-y: auto;
	overflow-x:hidden;
	background-color: #556B2F !important;
	position: absolute;
	left: 5px;
	top: 185px;
	border-radius: 5px;	
}
.user-search-found	{
	cursor:pointer;
}
#pm-user-search div:nth-child(2n+1){
	background-color: #808000;
}
.pm-user-close {
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
}
#pm-msg-options {	
    position: absolute;
    left: 175px;
    top: 20px;
}
.pm-msg-username {
	width: 90px;
	border-radius: 0px;
	border: 3px solid #556B2F;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;        
}  
.pm-msg-usericon {
        background-image: url('https://i.imgur.com/RE1eerj.png');
        width: 30px;
        height: 30px;
}
.pm-msg-clear {	
    top: 0px;
    position: absolute;
    left: 110px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('https://i.imgur.com/rZYMvnX.png');
}
.pm-user-remove {	
    position: absolute;
    top: 0px;
    left: 150px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('https://i.imgur.com/eOiy9Ws.png');
	background-size: 26px 26px;
	background-repeat: no-repeat;
}

.pm-remove-users {
    left: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('https://i.imgur.com/eOiy9Ws.png');
	background-size: 26px 26px;
	background-repeat: no-repeat;
}

.pm-user-mute {
	position: absolute;
	left: 187px;
	top: 0px;
	cursor: pointer;
  	width: 30px;
	height: 30px;
}
.pm-user-mute.mute {
	background-image: url('https://i.imgur.com/gUnMXI9.png');
}
.pm-user-mute.unmute {
	background-image: url('https://i.imgur.com/T4LOVW4.png');
}

.pm-status-online {
	display: inline-block;
	vertical-align: top;
	background-image: url(https://i.imgur.com/6e4qZoK.png);
	background-position: -84px -29px;
	background-repeat: no-repeat !important;
	width: 15px;
	height: 15px;
}

.pm-status-afk {
  display: inline-block;
  vertical-align: top;
  background-image: url(https://i.imgur.com/6e4qZoK.png);
  background-position: -63px -62px;
  background-repeat: no-repeat !important;
  width: 15px;
  height: 15px;
}

.pm-status-busy {
  display: inline-block;
  vertical-align: top;
  background-image: url(https://i.imgur.com/6e4qZoK.png);
  background-position: -45px -30px;
  background-repeat: no-repeat !important;
  width: 15px;
  height: 15px;
}
