.icon { 
  background-image: url('http://i.imgur.com/It6eFy8.png'); 
}
#your-active-playlist > .icon-check-purple{ 
  background: url('http://i.imgur.com/XrNnmCc.png') !important; 
  top: 15px; 
}
#user-menu .item > .icon-history-white { 
  background: url('https://i.imgur.com/EdPgEwe.png') !important; 
  top: 12px; 
}
#footer-user .item > .icon-history-white { 
  background: url('https://i.imgur.com/EdPgEwe.png') !important; 
  top: 12px; 
}
#room-bar .icon-room { 
  background-image: url('http://i.imgur.com/ujTilUU.png');  
  top: 11px;
  left: 7px;
}
#dashboard .icon-grab {  
  background: url('http://i.imgur.com/DGOLuAK.png');  
}

.origem-menu-element input[type=checkbox]:checked + .origem-checkmark, 
.origem-menu-element input[type=radio]:checked + .origem-checkmark {
    position: absolute;
    top: -1px;
    right: 0;
    width: 33px;
    height: 28px;
    background: url('http://i.imgur.com/XrNnmCc.png');
}

.origem-menu-opener {
    width: 53px;
    height: 52px;
}

.origem-menu-icon {
    background: url('http://i.imgur.com/mhfnRqC.png');
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    height: 100%;
    cursor: pointer;
}

.origem-menu-heading,
.origem-menu-submenu .origem-submenu-heading {
    color: #16A200;
}

.owLinks:hover {
    color: #16A200;
}

.ow-helper .un::before, div[data-cid~="ow-helper"] .un::before {
    background: url('https://i.imgur.com/H7aiAN8.png');
}

.origem-color-host{ 
  color: #D80000 !important;
}

.origem-color-cohost{ 
  color: #D80000 !important;
}

.origem-color-manager{ 
  color: #DCCD00 !important;
}

.origem-color-bouncer{ 
  color: #0A9600 !important;
}

.origem-color-dj{ 
  color: #76A3FF !important;
}

.icon-chat-manager ~ .text > .name, .icon-chat-manager ~ .from, .icon-chat-manager ~ span {
  color: #DCCD00 !important;
  font-weight: bold;
}
.icon-chat-cohost ~ .text > .name, .icon-chat-cohost ~ .from, .icon-chat-cohost ~ span {
  color: #D80000 !important;
  font-weight: bold;
}
.icon-chat-host ~ .text > .name, .icon-chat-host ~ .from, .icon-chat-host ~ span {
  color: #D80000 !important;
  font-weight: bold;
}
.icon-chat-bouncer ~ .text > .name, .icon-chat-bouncer ~ .from, .icon-chat-bouncer ~ span {
  color: #0A9600 !important;
  font-weight: bold;
}
.icon-chat-dj ~ .text > .name, .icon-chat-dj ~ .from, .icon-chat-dj ~ span {
  color: #76A3FF !important;
  font-weight: bold;
}

#footer-user .buttons .button.store:hover,
#playlist-button {
    background: linear-gradient(to bottom,#069C00 0,#0B6300 100%);
}

#grab,
#meh {
   margin-right: -1px;
}

#vote .crowd-response {
    position: relative;
    float: left;
    margin-right: -1px;
    width: 84px;
    height: 61px;
    background: #282c35;
    text-align: center;
    cursor: pointer;
}

#playlist-activate-button span {
    position: relative!important;
    display: inline-block;
    top: 4px!important;
    color: #16A200;
    font-weight: bold;
}

.media-list .selected .actions,
.media-list .row.selected {
    background: #162F14 !important;
}

.media-list .row.now-playing {
    height: 53px;
    border-bottom: #004605 2px solid!important;
    background: #0CA700!important;
}

.media-list .row.now-playing .actions {
    top: -1px;
    background: #0CA700 !important;
}

#playlist-menu .menu .row.selected {
    background: #195015;
}

#playlist-menu .menu .row .count {
    top: 10px;
    right: 10px;
    color: #05A200;
    font-weight: bold;
}

.media-list .selected .actions {
    background: #162F14 !important;
}

.thumb {
    border: 3px solid #16A200 !important;
}

.experience .xp .bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #16A200;
}

#footer-user .info .bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    float: none;
    width: 0;
    height: 100%;
    background: #149E01;
}
#woot .bottom, 
#woot.selected {
    background: #90ad2f !important;
}
#grab .bottom, 
#grab.selected {
    background: #aa74ff !important;
}
#meh .bottom, 
#meh.selected {
    background: #c42e3b !important;
}
#playlist-activate-button {
    right: 162px;
    padding: 0 16px 0 8px;
    background: #103510;
    text-align: center;
    border-radius: 30px 0 0 30px;
}





/* Ikonky a odznaky na přání */

[data-cid^="3467882-"] .badge-box .bdg {
    background: url('http://i379.photobucket.com/albums/oo232/slotime/loading.gif')!important;
    background-position: 0 0;
}
[data-cid^="3467882-"] .msg .from .un {
	position: relative;
	left:-1px;
	padding-left:21px;
	background-image: url('http://i.imgur.com/c2xEN7U.gif')!important;
	background-repeat: no-repeat;
	background-position: 2px center;
	background-size: 15px auto
}

[data-cid^="4175662-"] .badge-box .bdg {
    background: url('http://i.imgur.com/4DQXz85.png')!important;
    background-position: 0 0;
}

[data-cid^="9827407-"] .badge-box .bdg {
    background: url('https://www.dropbox.com/s/a9bb12v032qww2y/HELPRBADGE30px.png?raw=1')!important;
    background-position: 0 0;
}
#chat .cm[data-cid^="9827407"] .un {
    color: #00c7ff;
    font-weight: bolder;
}
#chat-input-field, 
#chat-messages {
    font-family: osifont,sans-serif;
}


/* Blbosti na přání*/

[data-cid^="3585498-"] .badge-box .bdg {
    background: url('http://i.imgur.com/kqwUaRr.png')!important;
    background-position: 0 0;
}

[data-cid^="3982394-"] .badge-box .bdg {
    background: url('https://ccplz.net/styles/default/xenforo/smilies/iloveyou.gif')!important;
    background-position: 0 0;
}
[data-cid^="3982394-"] .msg .from .un {
	position: relative;
	left:-1px;
	padding-left:21px;
	background-image: url('http://www.ufovideo.net/halloweenzsmileyx78.gif')!important;
	background-repeat: no-repeat;
	background-position: 2px center;
	background-size: 15px auto
}

div[data-cid^="3438293-"] .badge-box {
    width:35px !important;
    height:35px !important;
    margin: 5px !important;
}
div[data-cid^="3438293-"] .badge-box i {
    background: url('http://i.imgur.com/wIUoeZ8.png') !important;
    width:35px !important;
    height:35px !important;
}

div[data-cid^="3432002-"] .badge-box i {
    background: url('http://i.imgur.com/HvRSdHN.png') !important;
    background-position: 0 0;
}

div[data-cid^="3375791-"] .badge-box i {
    background: url('http://i.imgur.com/zZqmtJ4.png') !important;
    background-position: 0 0;
}
div[data-cid^="3976272-"] .badge-box i {
    background: url('http://i.imgur.com/6dylK4Q.png') !important; 
    background-position: 0 0;
}
div[data-cid^="3682605-"] .badge-box i {
    background: url('http://i.imgur.com/AjcGpYU.png') !important; 
    background-position: 0 0;
}
div[data-cid^="5976562-"] .badge-box i {
    background: url('http://i.imgur.com/uBTHjHh.png') !important; 
    background-position: 0 0;
}
